@font-face {
	font-family: 'WebComponentsOrg';
	src:url('WebComponentsOrg.eot');
	src:url('WebComponentsOrg.eot?#iefix') format('embedded-opentype'),
		url('WebComponentsOrg.woff') format('woff'),
		url('WebComponentsOrg.ttf') format('truetype'),
		url('WebComponentsOrg.svg#WebComponentsOrg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'WebComponentsOrg';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-custom-elements:before {
	content: "\e602";
}
.icon-html-imports:before {
	content: "\e603";
}
.icon-web-components:before {
	content: "\e604";
}
.icon-shadow-dom:before {
	content: "\e605";
}
.icon-templates:before {
	content: "\e606";
}
